#!/usr/bin/env xdg-open
[Desktop Entry] 
Name=Minecraft
Comment=
Exec=java -jar $HOME/games/Minecraft.jar
Icon=Minecraft_Block
Terminal=false
Type=Application
StartupNotify=true
